#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
.loginPageImage{
    rotate: 3,4,5;
    border: 1px none;
    border-radius: 100px;
}

form{
    vertical-align: middle;
    align-items: center;
    align-self: center;
    align-content: center;
}