#formSide{
    margin-top: 120px;
}

.loginPageImage{
    rotate: 3,4,5;
    border: 1px none;
    border-radius: 100px;
}

form{
    vertical-align: middle;
    place-self: center;
    margin-top:120px;
}